@media (max-width: 550px) {
  .App {
    display: grid;
    grid-template-rows: 75px 50px auto auto;
    grid-template-columns: 75px 95px 95px 95px;
  }
  .Nav {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Sii {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .Group {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .GetRecipeTab {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Select {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .Recipes {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
@media (min-width: 551px) and (max-width: 900px) {
  .App {
    width: 100%;
    display: grid;
    grid-template-rows: 75px auto auto;
    grid-template-columns: 75px 173px 173px 173px 173px;
  }
  .Nav {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Sii {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .Group {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .GetRecipeTab {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Select {
    grid-column-start: 4;
    grid-column-end: 6;
  }
  .Recipes {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
@media (min-width: 901px) and (max-width: 1599px) {
  .App {
    display: grid;
    grid-template-rows: 75px auto auto;
    grid-template-columns: 75px 1fr 1fr 1fr 1fr;
  }
  .Nav {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Sii {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .Group {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .GetRecipeTab {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Select {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .Recipes {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
@media (min-width: 1600px) {
  .App {
    margin: auto;
    display: grid;
    grid-template-rows: 75px 50px auto auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .Nav {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Sii {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Group {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .GetRecipeTab {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .Select {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .Recipes {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
