.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 15px;
  /* height: 500px; */
  /* box-shadow: 1px 1px 1px black; */
  padding: 16px;
  left: 1%;
  top: 1%;
  max-height: 85%;
  transition: all 0.3s ease-out;
  /* overflow-y: scroll; */
  overflow-y: auto;
}
.MIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.Spinner {
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 500;
  background-color: rgba(15, 15, 15, 0);
  width: 200%;
  height: 200%;
  /* border: 1px solid #ccc;
  border-radius: 15px; */
}
