@media (max-width: 550px) {
  .SearchIngs {
    /* position: relative;
    left: 0; */
    font-size: 16px;
    padding: 3px 20px;
    border-style: solid;
    border-color: rgba(22, 20, 20, 0.15);
    border-width: 2px;
    border-radius: 15px;
    margin-top: 25px;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    width: 95%;
    margin-right: 20px;
  }
}
@media (min-width: 551px) and (max-width: 900px) {
  .SearchIngs {
    font-size: 16px;
    padding: 3px 20px;
    border-style: solid;
    border-color: rgba(22, 20, 20, 0.089);
    border-width: 2px;
    border-radius: 15px;
    margin-top: 25px;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (min-width: 901px) and (max-width: 1600px) {
  .SearchIngs {
    padding: 3px 20px;
    border-style: solid;
    border-color: rgba(22, 20, 20, 0.15);
    border-width: 2px;
    border-radius: 15px;
    margin-top: 25px;
    margin-right: 20px;
    /* margin-left: -130px; */
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (min-width: 1601px) {
  .SearchIngs {
    font-size: 20px;
    padding: 3px 20px;
    border-style: solid;
    border-color: rgba(22, 20, 20, 0.15);
    border-width: 2px;
    border-radius: 15px;
    /* margin-top: 25px; */
    /* margin-right: 20px; */
    /* margin-left: -130px; */
    /* margin-bottom: 20px; */
    margin-left: 20px;

    width: calc(100% - 22px);
    height: 50px;
  }
}
